canvas {
    border: 1px solid black;
}

body{
    text-align: center;
    background-image: url("https://e7.pngegg.com/pngimages/945/71/png-clipart-the-doraemons-sprite-animation-model-sheet-doraemon-christmas-decoration-cartoon.png");
}